<h2>
  Liquidations Watcher
</h2>
<div style="margin-top: -15px; margin-bottom: 10px;">
  <a href="/#/main/liquidationwatcher" class="fa fa-home cursor mr-10"></a>
  <a href="/#/main/liquidationwatcher/new" class="fa fa-plus-square cursor"></a>
</div>
<router-outlet></router-outlet>
<!--
<ag-grid-angular
  #withdrawalGrid
  style="width: 100%; height: 500px;"
  class="ag-theme-balham mt-20"
  [columnDefs]="withdrawalsColumnDefs">
</ag-grid-angular>

<div class="pt-40">
  <button class="btn btn-primary" (click)="grabWithdrawals()">Start</button>
</div>

-->
