<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     style=" background-color: rgba(240, 248, 255, 0.75);
            position:fixed;
            top:0;
            width:100%;
            border-radius:0px;
            color:white;
            z-index:9999;
            margin-bottom:0px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
>
<div>

  <div style="display:inline-block; width: 35px"> 
   <i class="fa fa-bars good-font menu-icon mr-20 cursor" id="menuToggle" (click)="toggleMenu()" ></i>
  </div>
  <img src="/assets/ML_ForDark_Monochrome_Horizontal@3x.png" style="width:100px">
</div>


</nav>
<div id="main">
  <left-menu #leftMenu></left-menu>
  <div class="container-fluid" style="margin-top: 70px;width:90%;" >
      <router-outlet></router-outlet>
  </div>
  
</div> 