<div id="sidenav" *ngIf="isOpen" [@slideInOut] style="padding-top: 70px">
  <div>
    <div style="display:table;">
      <div style="display:table-cell; vertical-align:middle; padding-left:10px">
        <!--<img src="/img/blank-user.svg" class="profileImage sideMenuProfileImage">
              <profile-pic [user]="user" [width]="'50px'"></profile-pic>
            -->

      </div>
      <div style="display:table-cell; vertical-align:middle; padding-left:10px">
        <div class="profileName">{{user.firstname}} {{user.lastname}}</div>

      </div>
    </div>
  </div>
  <div class="mt-40 pt-40">

    <div class="nav-item">
      <a class="nav-link" href="#/main">Home</a>
    </div>

    <div class="nav-item">
      <a class="nav-link" href="#/main/batch">Batch</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/#/main/fundhome">Fund</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/#/main/liquidationwatcher">Liquidations</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="/#/main/drivewealthevents">Drive Wealth Events</a>
    </div>
  </div>
</div>
